/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
	--basis-kleur: #278b42;
}

/****************/
/* JOUW STYLING */
/****************/

@media (prefers-color-scheme: dark) {
	body {
		background-color: #424141;
	}
}
/********************** ALGEMEEN**********************/

@font-face {
	font-family: lettertype;
	src: url(./Lettertypes/PPAgrandir-Regular.otf);
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: sans-serif;
	font-family: lettertype;

	margin: 0em;
	margin-left: 1em;
}

h1 {
	font-size: 0;
	visibility: hidden;
}

h2 {
	text-align: center;
}

h3 {
	font-size: .85em;
	margin-top: 2em;
}

p {
	font-size: .75em;
	text-align: center;
	margin-bottom: 4em;
	margin-left: 1em;
	margin-right: 1em;
}

main section a {
	color: #fff;
	background-color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 8em;
	padding: .8em 1.5em;
	border: solid #fff;
	border-radius: .45em;
}

a {
	font-size: 0.8em;
}

main img {
	margin-top: 5em;
}

main section:nth-of-type(1) img {
	margin-top: .8em;
}

/******************************************************HEADER******************************************************/
header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.5em 1em;
	align-items: center;
}

header:nth-of-type(1) a {
	grid-column-start: 1;
	grid-column-end: 1;
	display: flex;
	justify-content: left;
	border: none;
	width: 3em;
	margin-top: .5em;
}

header:nth-of-type(1) a:nth-of-type(2) {
	/* logo*/
	grid-column-start: 2;
	grid-column-end: 2;
	display: flex;
	justify-content: center;
	margin-left: 2em;
	margin-top: .5em;
}

/* SECTION 4 */
main video {
	margin-top: 5em;
	width: 90%;
}

main section:nth-of-type(4) h2 {
	text-align: left;
	font-size: 1.25em;
	margin-top: 3em;
}

main section:nth-of-type(4) h3 {
	text-align: left;
	font-size: .8em;
}

main section:nth-of-type(4) p {
	text-align: left;
	font-size: .75em;
	margin-right: 1em;
}

main section:nth-of-type(4) a {
	color: #fff;
	background-color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 1em;
	padding: .8em 8em;
	border: solid #fff;
	border-radius: .45em;
}

/* SECTION 5 */
main section:nth-of-type(5) h2 {
	text-align: left;
	font-size: 1.25em;
	margin-top: 3em;
}

main section:nth-of-type(5) h3 {
	text-align: center;
	font-size: 1em;
	margin-top: 3em;
	margin-bottom: 4em;
}

main section:nth-of-type(5) h4 {
	text-align: left;
	font-size: .75em;
}

main section:nth-of-type(5) p {
	text-align: left;
	font-size: .75em;
	margin-right: 1em;
}

/* SECTION 6 */
footer section a {
	color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 4em;
	padding: .5em 1.5em;
	border: solid var(--basis-kleur);
	border-radius: .25em;
	text-decoration: underline;
	display: flex;
	justify-content: center;
	margin-top: 3em;
	width: 16em;
}

footer img {
	margin-bottom: 2em;
	margin-left: 8em;
}

footer h5:nth-of-type(1) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 4em;
	margin-top: -2em;
}

footer h5:nth-of-type(2) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 16em;
	margin-top: -2em;
}

footer h5:nth-of-type(3) {
	font-size: .65em;
	text-align: center;
}

.footermenu {
	text-align: left;
	margin: 1em;
	margin-top: 2em;
	font-size: 0.8em;
}

footer details ul {
	margin: 1em;
}

footer details ul li {
	margin: 1em;
	color: var(--basis-kleur);
	text-decoration: underline;
	list-style: none;
}

/* *****************************************************MAIN*****************************************************/