/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
	--basis-kleur: #278b42;
}

/****************/
/* JOUW STYLING */
/****************/

/********************** ALGEMEEN**********************/

@font-face {
	font-family: lettertype;
	src: url(./Lettertypes/PPAgrandir-Regular.otf);
}
@font-face {
	font-family: lettertype-bold;
	src: url(../Lettertypes/PP_Agrandir/PPAgrandirText-Bold.otf);
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: sans-serif;
	font-family: lettertype;

	margin: 0em;
}

h1 {
	font-size: 0;
	visibility: hidden;
}

h2 {
	text-align: center;
}

h3 {
	font-size: .85em;
	margin-top: 2em;
}

p {
	font-size: .75em;
	text-align: center;
}

a {
	font-size: 0.8em;
}

/******************************************************HEADER******************************************************/
header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.5em 1em;
}

/* HelloFresh Logo */
header > a {
	margin: auto;
}

header button {
	background-color: var(--basis-kleur);
	border: none;
	border-radius: .25em;
	width: 4em;
	height: 3em;
}

header ul {
	list-style: none;
}

/* HAMBURGER MENU */
nav {
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;

	padding: 1em;
	z-index: 100;

	background-color: var(--color-background);

	transform: translate(-100%);
	transition: transform .3s;
}
nav ul {
	padding: 0;
	list-style: none;
}
nav li {
	margin-bottom: .4em;
}
nav li:first-of-type(2) a {
	font-family: lettertype-bold;
}
nav a{
	display: flex;
	text-decoration: none;
	color: var(--color-text);
	font-size: 1em;
}

/* MENU OPEN*/
nav.openMenu {
	transform: translateX(0);
}

/***************************************MAIN***************************************/
main {
	width: 100vw;
}

main section,
main section img {
	width: 100%;
}

main section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 1em;
}

main section a {
	color: #fff;
	background-color: var(--basis-kleur);
	text-decoration: none;
	padding: .8em 1.5em;
	border-radius: .45em;
}

main section a:hover,
main section a:focus {
	color: var(--basis-kleur);
	background-color: #fff;
	transition: .3s;
}

main section a:focus {
	outline: 2px auto hotpink;
}

main img {
	margin-top: 5em;
}

main section:nth-of-type(1) img {
	margin-top: .8em;
}

/* SECTION 4 */
main video {
	margin-top: 5em;
	width: 90%;
}

main section:nth-of-type(4) h2 {
	text-align: left;
	font-size: 1.25em;
	margin-top: 3em;
}

main section:nth-of-type(4) h3 {
	text-align: left;
	font-size: .8em;
}

main section:nth-of-type(4) p {
	text-align: left;
	font-size: .75em;
	margin-right: 1em;
}

main section:nth-of-type(4) a {
	color: #fff;
	background-color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 1em;
	padding: .8em 8em;
	border-radius: .45em;
}

main section:nth-of-type(4) a:hover,
main section:nth-of-type(4) a:focus {
	color: var(--basis-kleur);
	background-color: #fff;
	transition: .3s;
}

main section:nth-of-type(4) a:focus {
	outline: 2px auto hotpink;
}


/* SECTION 5 */
main section:nth-of-type(5) h2 {
	text-align: left;
	font-size: 1.25em;
	margin-top: 3em;
}

main section:nth-of-type(5) h3 {
	text-align: center;
	font-size: 1em;
	margin-top: 3em;
	margin-bottom: 4em;
}

main section:nth-of-type(5) h4 {
	text-align: left;
	font-size: .75em;
	margin-bottom: 0;
}

main section:nth-of-type(5) p {
	text-align: left;
	font-size: .75em;
	margin-right: 1em;
}

/*************************************FOOTER***************************************/
footer section a {
	color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 6.5em;
	padding: .5em 1.5em;
	border: solid var(--basis-kleur);
	border-radius: .25em;
	text-decoration: underline;
	display: flex;
	justify-content: center;
	margin-top: 3em;
	width: 16em;
}

footer section a:hover,
footer section a:focus {
	color: var(--basis-kleur);
	background-color: #fff;
	transition: .3s;
}

footer section a:focus {
	outline: 2px auto hotpink;
}

footer img {
	margin-bottom: 2em;
	margin-left: 8em;
}

footer h5:nth-of-type(1) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 4em;
	margin-top: -2em;
}

footer h5:nth-of-type(2) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 16em;
	margin-top: -2em;
}

footer h5:nth-of-type(3) {
	font-size: .65em;
	text-align: center;
}

.footermenu {
	text-align: left;
	margin: 1em;
	margin-top: 2em;
	font-size: 0.8em;
}

footer details ul {
	margin: 1em;
}

footer details ul li {
	margin: 1em;
	color: var(--basis-kleur);
	text-decoration: underline;
	list-style: none;
}

/* *****************************************************DARKMODE*****************************************************/

@media (prefers-color-scheme: dark) {
	body {
		background-color: #424141;
		color: #fff;}
}

/* *****************************************************FOCUS*****************************************************/

