/********************** ALGEMEEN**********************/

@font-face {
	font-family: lettertype;
	src: url(./Lettertypes/PPAgrandir-Regular.otf);
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: sans-serif;
    font-family: lettertype;

	margin: 0em;
    margin-left: 1em;
}

h1 {
	font-size: 0;
	visibility: hidden;
}

h2 {
    text-align: center;
}

/******************************************************HEADER******************************************************/
/* SECTIONS*/
header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.5em 1em;
	align-items: center;
}

header:nth-of-type(1) a {
	grid-column-start: 1;
	grid-column-end: 1;
	display: flex;
	justify-content: left;
	border: none;
	width: 3em;
}

header:nth-of-type(1) a {
	/* logo*/
	grid-column-start: 2;
	grid-column-end: 2;
	display: flex;
	justify-content: center;
}
/* *****************************************************MAIN*****************************************************



/******************************************************FOOTER******************************************************/
