/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
	--basis-kleur: #278b42;
}

/****************/
/* JOUW STYLING */
/****************/

/********************** ALGEMEEN**********************/
h1 {
	font-size: 0;
	visibility: hidden;
}

h2 {
	font-size: 2.5em;
	position: absolute;
	margin: 3em 0 1em 1.2em;
}

h2 span::before {
	content: "tijd";
	animation: tekst infinite 6s;
	padding-left: .25em;
	text-decoration-line: underline;
	font-style: italic;
}

@keyframes tekst {
	0% {
		content: "tijd";
	}

	50% {
		content: "geld";
	}

	75% {
		content: "stress";
	}
}

@font-face {
	font-family: lettertype;
	src: url(../Lettertypes/PPAgrandir-Regular.otf);
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: sans-serif;
	margin: 0em;
	font-family: lettertype;
	position: relative;
}

/******************************************************HEADER******************************************************/
/* SECTIONS*/
header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.5em 1em;
	align-items: center;
}

header:nth-of-type(1) a:nth-of-type(2) {
	/* logo*/
	grid-column-start: 2;
	grid-column-end: 2;
	display: flex;
	justify-content: center;
	margin-left: 2em;
}

/******************************************************MAIN******************************************************/
/* SECTIONS*/

/*<!--Welkomsbeeld-->*/
main section:nth-of-type(1) {
	overflow-x: hidden;
}

main section:nth-of-type(1) p {
	position: absolute;
	margin-top: 11em;
	text-align: center;
}

main section:nth-of-type(1) img {
	margin-top: 1em;
	width: 50em;
}

main section:nth-of-type(1) a {
	box-sizing: border-box;
	position: absolute;
	margin-left: 7em;
	margin-top: 16em;
	background-color: var(--basis-kleur);
	border: none;
	border-radius: .25em;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: .75em;
	width: 10em;
	height: 3em;
}

/*<!--Even een kijkje in de keuken-->*/
main section:nth-of-type(2) h3 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(2) p {
	text-align: center;
	margin: 0em 1em 5em 1em;
}

main section:nth-of-type(2) img {
	margin-left: 2.5em;
	width: 80%;
}

main section:nth-of-type(2) h3:nth-of-type(2) {
	font-size: 1em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: .5em;
}

main section:nth-of-type(2) p:nth-of-type(2) {
	font-size: .75em;
	text-align: center;
}

main section:nth-of-type(2) img:nth-of-type(2) {
	margin-left: 9.5em;
	width: 15%;
	margin-bottom: 3em;
}

/* grijze lijn toevoegen*/

/*<!--Zo werkt het-->*/
main section:nth-of-type(3) h3 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) p {
	font-size: .85em;
	text-align: center;
	margin: 0em 1em 3em 1em;
}

main section:nth-of-type(3) img {
	margin: 1em;
	width: 90%;
}

main section:nth-of-type(3) a {
	color: #278b42;
	text-decoration: none;
	margin-left: 6.5em;
	padding: .5em 1.5em;
	border: solid var(--basis-kleur);
	border-radius: .25em;
}

main section:nth-of-type(3) h3:nth-of-type(2) {
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) h3:nth-of-type(3) {
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) h3:nth-of-type(4) {
	font-size: .9em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) h3:nth-of-type(5) {
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) p:nth-of-type(5) {
	margin-bottom: 2em;
}

main section:nth-of-type(3) p:nth-of-type(6) {
	margin-top: 2em;
}

/*<!--Goed voor jou, je portemonée en de planeet-->*/
main section:nth-of-type(4) img:nth-of-type(1) {
	margin: 1em;
	width: 90%;
}

main section:nth-of-type(4) img:nth-of-type(2) {
	position: relative;
	width: 5%;
	margin-left: 1.5em;
}

main section:nth-of-type(4) img:nth-of-type(3) {
	position: relative;
	width: 5%;
	margin-left: 1.5em;
}

main section:nth-of-type(4) img:nth-of-type(4) {
	position: relative;
	width: 5%;
	margin-left: 1.5em;
}

main section:nth-of-type(4) h3 {
	font-size: 1.5em;
	margin: 1em 1em .25em 1em;
}

main section:nth-of-type(4) h3:nth-of-type(2) {
	font-size: 1em;
	margin: .5em 1em .25em 1em;
}

main section:nth-of-type(4) h3:nth-of-type(3) {
	font-size: 1em;
	margin: .5em 1em .25em 1em;
}

main section:nth-of-type(4) h3:nth-of-type(4) {
	font-size: 1em;
	margin: .5em 1em .25em 1em;
}

main section:nth-of-type(4) p {
	font-size: .85em;
	text-align: left;
	margin-left: 1em;
	margin-bottom: 3em;
}

main section:nth-of-type(4) a {
	color: #fff;
	background-color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 1em;
	padding: .8em 1.5em;
	border-radius: .25em;
}

/*<!--Jouw smaak, jouw box-->*/
main section:nth-of-type(5) h3 {
	text-align: center;
	margin-top: 3em;
}

main section:nth-of-type(5) p {
	text-align: center;
	font-size: .8em;
	margin: 1.5em;
}

.container {
	width: 85vmin;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	overflow: hidden;
	border: 10px solid rgb(236, 236, 236);
	border-radius: 8px;
	box-shadow: 10px 25px 30px rgba(0.0.0, 0, 3);
	margin-top: 8em;
	margin-left: 11.5em;
}

.slider {
	width: 100%;
	display: flex;
	animation: slide 16s infinite;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX(-200%);
	}

	55% {
		transform: translateX(-200%);
	}

	75% {
		transform: translateX(-200%);
	}

	80% {
		transform: translateX(-300%);
	}

	100% {
		transform: translateX(-300%);
	}
}

main section:nth-of-type(5) img {
	width: 100%;
	opacity: 0.5;
}

main section:nth-of-type(5) a {
	color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 6.5em;
	padding: .5em 1.5em;
	border: solid var(--basis-kleur);
	border-radius: .25em;
	margin-top: 1em;
}

main section:nth-of-type(5) h3:nth-of-type(2) {
	position: absolute;
	z-index: 2;
	margin-left: 3em;
	margin-top: 2em;
}

main section:nth-of-type(5) p:nth-of-type(2) {
	position: absolute;
	font-size: .8em;
	z-index: 2;
	margin-left: 4.5em;
	margin-top: 5em;
}

/*<!--Reviews-->*/
main section:nth-of-type(6) h3:nth-of-type(1) {
	font-size: .9em;
	text-align: center;
	margin-top: 3em;
}

main section:nth-of-type(6) h3:nth-of-type(2) {
	font-size: .9em;
	text-align: center;
}

main section:nth-of-type(6) img:nth-of-type(1) {
	margin-left: 10.5em;
}

main section:nth-of-type(6) p:nth-of-type(1) {
	font-size: .75em;
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
}

main section:nth-of-type(6) img:nth-of-type(2) {
	margin-left: 9em;
}

/* grijze lijn toevoegen*/

/******************************************************FOOTER******************************************************/
footer {
	text-align: center;
}

footer label {
	visibility: hidden;
	position: absolute;
}

footer button :nth-of-type(1) {
	margin-right: 8em;
	position: relative;
}

/*<!--Blijf op de hoogte-->*/
footer section:nth-of-type(1) h3 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 3em;
	padding-top: 1em;
}

footer section:nth-of-type(1) p {
	font-size: .9em;
	text-align: left;
	margin-left: 1em;
	margin-right: 1em;
}

footer section:nth-of-type(1) input {
	width: 12em;
	height: 3em;
}

footer section:nth-of-type(1) button:nth-of-type(1) {
	background-color: var(--basis-kleur);
	border: none;
	border-radius: .25em;
	color: #fff;
	width: 8em;
	height: 3em;
	margin-bottom: 2em;
}

/********* SECTION 2 *********/
footer section:nth-of-type(2) a {
	color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 3.5em;
	padding: .5em 1.5em;
	border: solid var(--basis-kleur);
	border-radius: .25em;
	text-decoration: underline;
	display: flex;
	justify-content: center;
	margin-top: 2em;
	width: 16em;
}

footer section:nth-of-type(2) h4 {
	font-size: .8em;
	text-align: left;
	margin: 2.5em 2em;
}

footer section:nth-of-type(2) h4:nth-of-type(4) {
	font-size: .8em;
	text-align: left;
	margin: 2.5em 2em;
	margin-bottom: 1em;
}

footer img {
	margin-bottom: 2em;
}

footer h5:nth-of-type(1) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 6em;
	margin-top: -2em;
}

footer h5:nth-of-type(2) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 19em;
	margin-top: -2em;
}

footer h5:nth-of-type(3) {
	font-size: .65em;
	text-align: center;
}

.footermenu {
	text-align: left;
	margin: 2em;
	font-size: 0.8em;
}

footer details ul {
	margin: 1em;
}

footer details ul li {
	margin: 1em;
	color: var(--basis-kleur);
	text-decoration: underline;
	list-style: none;
}

/* form */
footer form {
	padding: 15px;
	width: 250x;
	color: var(--color-text);
}

footer label:nth-of-type(2) {
	float: left;
	width: 50px;
	text-align: right;
	color: var(--color-text);

	margin-right: 15px;
}

footer input:nth-of-type(2) {
	background-color: #f5f5f5;

	font-size: x-small;
	color: var(--color-text);


	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;

	margin-bottom: 10px;
}

footer select {
	width: 100px;
	font-size: x-small;
	color: var(--color-text);

	background-color: #f5f5f5;

	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;

	margin-bottom: 10px;
}

footer textarea {
	width: 100%;
	height: 20px;
	background-color: #f5f5f5;
	color: var(--color-text);


	border-width: 1px;
	border-style: solid;
	border-color: var(--basis-kleur);

	margin-bottom: 10px;
}

/* hamburgermenu  */

/* 
header:nth-of-type(1) a {
	grid-column-start: 1;
	grid-column-end: 1;
	display: flex;
	justify-content: left;
	border: none;
	width: 3em;
} */


/* hover  */
section:nth-of-type(1) a:hover {
	scale: 1.5;
}

button:hover {
	scale: 1.5;
}


/* *****************************************************DARKMODE*****************************************************/
@media (prefers-color-scheme: dark) {
	body {
		background-color: #424141;
		color: #fff;
	}

	h2 {
		color: #111;
	}

	main section:nth-of-type(1) p {
		color: #111;
	}
}

input:invalid {
	border-color: red;
}

/* *****************************************************HOVER*****************************************************/
:hover {
}

/* *****************************************************FOCUS*****************************************************/
:focus {
	border: blue 0.5em solid;
}


