/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	overflow-x: hidden;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
	--basis-kleur: #278b42;
}

/****************/
/* JOUW STYLING */
/****************/

/********************** ALGEMEEN**********************/
h1 {
	font-size: 0;
	visibility: hidden;
}

h2 {
	font-size: 2.5em;
	min-width: 300px;
	margin-left: .5em;
	margin-top: .10em;
	margin-bottom: .10em;
}

h2 span::before {
	content: "tijd";
	animation: tekst infinite 6s;
	padding-left: .25em;
	text-decoration-line: underline;
	font-style: italic;
}

@keyframes tekst {
	0% {
		content: "tijd";
	}

	50% {
		content: "geld";
	}

	75% {
		content: "stress";
	}
}

@font-face {
	font-family: lettertype;
	src: url(../Lettertypes/PPAgrandir-Regular.otf);
}
@font-face {
	font-family: lettertype-bold;
	src: url(../Lettertypes/PP_Agrandir/PPAgrandirText-Bold.otf);
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: sans-serif;
	margin: 0em;
	font-family: lettertype;
	position: relative;
}

/******************************************************HEADER******************************************************/
header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.5em 1em;
}

/* HelloFresh logo*/
header > a {
	margin: auto;
}
header > a:hover,
header > a:focus {
	outline: none;
	border-bottom: 1px solid #111;
}

header button {
background-color: var(--basis-kleur);
border: none;
border-radius: .25em;
width: 4em;
height: 3em;
transition: .3s;
}
header button:hover,
header button:focus {
	background-color: #111;
	transition: .3s;
}

header button:focus {
	outline: 2px auto hotpink;
}

header ul {
	list-style-type: none;
}

/* HAMBURGER MENU */
nav {
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;

	padding: 1em;
	z-index: 100;

	background-color: var(--color-background);

	transform: translate(-100%);
	transition: transform .3s;
}
nav ul {
	padding: 0;
	list-style: none;
}
nav li {
	margin-bottom: .4em;
}
nav a{
	display: flex;
	text-decoration: none;
	color: var(--color-text);
}

/* MENU OPEN*/
nav.openMenu {
	transform: translateX(0);
}


/******************************************************MAIN******************************************************/
/* SECTIONS*/

/*<!--SECTIONS 1 || Welkomsbeeld-->*/
main section:nth-of-type(1) {
	display: flex;	
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 50vh;
	padding: 1em;
	background: url(../images/homepagefoto.jpg);
	background-size: cover;
}

main section:nth-of-type(1) p {
	text-align: center;
}

main section:nth-of-type(1) a {
	color: #fff;
	background-color: var(--basis-kleur);
	text-decoration: none;
	padding: .8em 1.5em;
	border-radius: .25em;
	transition: .3s;
}
main section:nth-of-type(1) a:hover,
main section:nth-of-type(1) a:focus {
	color: var(--basis-kleur);
	background-color: #fff;
	transition: .3s;
}
main section:nth-of-type(1) a:focus {
	outline: 2px auto hotpink;
}



/*<!-- SECTIONS 2 ||Even een kijkje in de keuken-->*/
main section:nth-of-type(2) h3 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(2) p {
	text-align: center;
	margin: 0em 1em 5em 1em;
}

main section:nth-of-type(2) img {
	margin-left: 2.5em;
	width: 80%;
}

main section:nth-of-type(2) h3:nth-of-type(2) {
	font-size: 1em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: .5em;
}

main section:nth-of-type(2) p:nth-of-type(2) {
	font-size: .75em;
	text-align: center;
}

main section:nth-of-type(2) img:nth-of-type(2) {
	margin-left: 9.5em;
	width: 15%;
	margin-bottom: 3em;
}

/*<!-- SECTION 3 || Zo werkt het-->*/
main section:nth-of-type(3) {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

main section:nth-of-type(3) h3 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) p {
	font-size: .85em;
	text-align: center;
	margin: 0em 1em 3em 1em;
}

main section:nth-of-type(3) img {
	margin: 1em;
	width: 90%;
}

main section:nth-of-type(3) a {
	color: #278b42;
	text-decoration: none;
	padding: .5em 1.5em;
	border: solid var(--basis-kleur);
	border-radius: .25em;
	transition: .3s;
}

main section:nth-of-type(3) a:hover,
main section:nth-of-type(3) a:focus{
	color: #fff;
	background-color: var(--basis-kleur);
	transition: .3s;
}

main section:nth-of-type(3) a:focus {
	outline: 2px auto hotpink;
}

main section:nth-of-type(3) h3:nth-of-type(2) {
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) h3:nth-of-type(3) {
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) h3:nth-of-type(4) {
	font-size: .9em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) h3:nth-of-type(5) {
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
}

main section:nth-of-type(3) p:nth-of-type(5) {
	margin-bottom: 2em;
}

main section:nth-of-type(3) p:nth-of-type(6) {
	margin-top: 2em;
}

/*<!-- SECTION 4 || Goed voor jou, je portemonée en de planeet-->*/
main section:nth-of-type(4) {
	width: 100vw;
	padding: 1em;
}

main section:nth-of-type(4) img:nth-of-type(1) {
	width: 100%;
}

main section:nth-of-type(4) img:nth-of-type(2),
main section:nth-of-type(4) img:nth-of-type(3),
main section:nth-of-type(4) img:nth-of-type(4) {
	width: 5%;
}

main section:nth-of-type(4) h3 {
	font-size: 1.5em;
}

main section:nth-of-type(4) h3:nth-of-type(2),
main section:nth-of-type(4) h3:nth-of-type(3),
main section:nth-of-type(4) h3:nth-of-type(4) {
	font-size: 1em;
}

main section:nth-of-type(4) p {
	font-size: .85em;
}

main section:nth-of-type(4) p:last-of-type {
	margin-bottom: 5em;
}

main section:nth-of-type(4) a {
	color: #fff;
	background-color: var(--basis-kleur);
	text-decoration: none;
	padding: .8em 1.5em;
	border-radius: .25em;
	transition: .3s;
	margin-bottom: 1em;
}

main section:nth-of-type(4) a:hover,
main section:nth-of-type(4) a:focus {
	color: var(--basis-kleur);
	background-color: #fff;
	border: 1px solid var(--basis-kleur);
	transition: .3s;
}

main section:nth-of-type(4) a:focus {
	outline: 2px auto hotpink;
}

/*<!--SECTION 5 || Jouw smaak, jouw box-->*/
main section:nth-of-type(5) {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 2em;
	padding: 1em;
	height: 50vh;
	overflow: hidden;
}

main section:nth-of-type(5) h3 {
	margin: 0;
} 

main section:nth-of-type(5) p {
	font-size: .8em;
	margin-top: 0em;
}

.container {
	width: 85vmin;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	overflow: hidden;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-top: 10em;
	margin-left: 12em;
}

.slider {
	width: fit-content;
	height: 30vh;
	display: flex;
	animation: slide 16s infinite;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	9% {
		transform: translateX(-25em);
	}
	18% {
		transform: translateX(-25em);
	}
	27% {
		transform: translateX(-25em);
	}
	36% {
		transform: translateX(-50em);
	}
	45% {
		transform: translateX(-50em);
	}
	54% {
		transform: translateX(-75em);
	}
	63% {
		transform: translateX(-75em);
	}
	72% {
		transform: translateX(-100em);
	}
	81% {
		transform: translateX(-100em);
	}
	100% {
		transform: translateX(0);
	}
}

main section:nth-of-type(5) img {
	opacity: 0.5;
}

/*<!-- SECTION 6 || Reviews-->*/
main section:nth-of-type(6) h3:nth-of-type(1) {
	font-size: .9em;
	text-align: center;
	margin-top: 3em;
}

main section:nth-of-type(6) h3:nth-of-type(2) {
	font-size: .9em;
	text-align: center;
}

main section:nth-of-type(6) img:nth-of-type(1) {
	margin-left: 10.5em;
}

main section:nth-of-type(6) p:nth-of-type(1) {
	font-size: .75em;
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
}

main section:nth-of-type(6) img:nth-of-type(2) {
	margin-left: 8.5em;
}

/******************************************************FOOTER******************************************************/
footer {
	text-align: center;
}

footer label {
	visibility: hidden;
	position: absolute;
}

footer button :nth-of-type(1) {
	margin-right: 8em;
	position: relative;
}

/*<!-- FOOTER SECTION 1 || Blijf op de hoogte-->*/
footer section:nth-of-type(1) h3 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 3em;
	padding-top: 1em;
}

footer section:nth-of-type(1) p {
	font-size: .9em;
	text-align: left;
	margin-left: 1em;
	margin-right: 1em;
}

footer section:nth-of-type(1) input {
	width: 12em;
	height: 3em;
}

footer section:nth-of-type(1) input:focus {
	outline: 2px auto hotpink;
}

footer section:nth-of-type(1) button:nth-of-type(1) {
	background-color: var(--basis-kleur);
	border: none;
	border-radius: .25em;
	color: #fff;
	width: 8em;
	height: 3em;
	margin-bottom: 2em;
	transition: .3s;
}

footer section:nth-of-type(1) button:nth-of-type(1):hover,
footer section:nth-of-type(1) button:nth-of-type(1):focus {
	color: var(--basis-kleur);
	background-color: #fff;
	border: 2px solid var(--basis-kleur);
	transition: .3s;
}

footer section:nth-of-type(1) button:nth-of-type(1):focus {
	outline: 2px auto hotpink;
}

/********* FOOTER SECTION 2 Download onze app + uitklapmenu en socials *********/
footer section:nth-of-type(2) a {
	color: var(--basis-kleur);
	text-decoration: none;
	margin-left: 3.5em;
	padding: .5em 1.5em;
	border: solid var(--basis-kleur);
	border-radius: .25em;
	text-decoration: underline;
	display: flex;
	justify-content: center;
	margin-top: 2em;
	width: 16em;
}

footer section:nth-of-type(2) a:hover,
footer section:nth-of-type(2) a:focus {
	color: #fff;
	background-color: var(--basis-kleur);
	transition: .3s;
}

footer section:nth-of-type(2) h4 {
	font-size: .8em;
	text-align: left;
	margin: 2.5em 2em;
}

footer section:nth-of-type(2) h4:nth-of-type(4) {
	font-size: .8em;
	text-align: left;
	margin: 2.5em 2em;
	margin-bottom: 1em;
}

footer img {
	margin-bottom: 2em;
}

footer h5:nth-of-type(1) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 6em;
	margin-top: -2em;
}

footer h5:nth-of-type(2) {
	font-size: .65em;
	text-decoration: underline;
	position: absolute;
	margin-left: 19em;
	margin-top: -2em;
}

footer h5:nth-of-type(3) {
	font-size: .65em;
	text-align: center;
}

.footermenu {
	text-align: left;
	margin: 2em;
	font-size: 0.8em;
}

footer details ul {
	margin: 1em;
}

footer details ul li {
	margin: 1em;
	color: var(--basis-kleur);
	text-decoration: underline;
	list-style: none;
}

/* form */
footer form {
	padding: 15px;
	width: 250x;
	color: var(--color-text);
}

footer label:nth-of-type(2) {
	float: left;
	width: 50px;
	text-align: right;
	color: var(--color-text);

	margin-right: 15px;
}

footer input:nth-of-type(2) {
	background-color: #f5f5f5;

	font-size: x-small;
	color: var(--color-text);


	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;

	margin-bottom: 10px;
}

footer select {
	width: 100px;
	font-size: x-small;
	color: var(--color-text);

	background-color: #f5f5f5;

	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;

	margin-bottom: 10px;
}

footer textarea {
	width: 100%;
	height: 20px;
	background-color: #f5f5f5;
	color: var(--color-text);


	border-width: 1px;
	border-style: solid;
	border-color: var(--basis-kleur);

	margin-bottom: 10px;
}

/* *****************************************************DARKMODE*****************************************************/
@media (prefers-color-scheme: dark) {
	body {
		background-color: #424141;
		color: #fff;
	}

	h2 {
		color: #111;
	}

	main section:nth-of-type(1) p {
		color: #111;
	}
}

input:invalid {
	border-color: red;
}